In [1]:
import pandas as pd

In [3]:
df = pd.read_json('Cell_Phones_and_Accessories_5.json', lines=True)

In [4]:
df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"08 4, 2014",A24E3SXTC62LJI,7508492919,{'Color:': ' Bling'},Claudia Valdivia,Looks even better in person. Be careful to not...,Can't stop won't stop looking at it,1407110400,NaN,NaN
1,5,True,"02 12, 2014",A269FLZCB4GIPV,7508492919,NaN,sarah ponce,When you don't want to spend a whole lot of ca...,1,1392163200,NaN,NaN
2,3,True,"02 8, 2014",AB6CHQWHZW4TV,7508492919,NaN,Kai,"so the case came on time, i love the design. I...",Its okay,1391817600,NaN,NaN
3,2,True,"02 4, 2014",A1M117A53LEI8,7508492919,NaN,Sharon Williams,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...,CASE,1391472000,NaN,NaN
4,4,True,"02 3, 2014",A272DUT8M88ZS8,7508492919,NaN,Bella Rodriguez,"I liked it because it was cute, but the studs ...",Cute!,1391385600,NaN,NaN

In [5]:
df['reviewTime'] = df['reviewTime'].apply(pd.to_datetime)

In [6]:
df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,2014-08-04,A24E3SXTC62LJI,7508492919,{'Color:': ' Bling'},Claudia Valdivia,Looks even better in person. Be careful to not...,Can't stop won't stop looking at it,1407110400,NaN,NaN
1,5,True,2014-02-12,A269FLZCB4GIPV,7508492919,NaN,sarah ponce,When you don't want to spend a whole lot of ca...,1,1392163200,NaN,NaN
2,3,True,2014-02-08,AB6CHQWHZW4TV,7508492919,NaN,Kai,"so the case came on time, i love the design. I...",Its okay,1391817600,NaN,NaN
3,2,True,2014-02-04,A1M117A53LEI8,7508492919,NaN,Sharon Williams,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...,CASE,1391472000,NaN,NaN
4,4,True,2014-02-03,A272DUT8M88ZS8,7508492919,NaN,Bella Rodriguez,"I liked it because it was cute, but the studs ...",Cute!,1391385600,NaN,NaN

In [7]:
df_2018 = df[df.reviewTime > '2018-01-01']

In [8]:
df_2018.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
275,4,True,2018-04-16,A2RMULV25P85EK,9707716371,NaN,Love to Review,This is my second purchase of this item...I ra...,Love it!,1523836800,NaN,NaN
276,2,True,2018-04-12,A1DX757BJI4V4K,9707716371,NaN,Daniel D. Miller,"I bought this in May 2017, and at first it was...",Battery doesn't last very long,1523491200,NaN,NaN
277,1,True,2018-04-05,A38DR7YXII55ZV,9707716371,NaN,Junaid,"The battery worked just fine, started draining...",Not good enough,1522886400,NaN,NaN
281,5,True,2018-02-27,AS5CG3I9UOAQD,9707716371,NaN,Bprince9,"Last twice as long as the standard battery, bu...",Great upgrade for older phones,1519689600,NaN,NaN
285,2,True,2018-02-10,A1I1G3T0ZHXNUG,9707716371,NaN,wadegmc,I had high hopes that these would be the quali...,I had high hopes that these would be the quali...,1518220800,NaN,NaN

In [11]:
df_2018.to_csv('Cell and Accessories.csv')

* Getting 2017 data

In [12]:
df_2017 = df[(df.reviewTime >= '2017-06-01') &
             (df.reviewTime <= '2017-12-31')]

In [14]:
df_2017.reset_index(drop=True, inplace=True)

In [15]:
df.head()

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,2014-08-04,A24E3SXTC62LJI,7508492919,{'Color:': ' Bling'},Claudia Valdivia,Looks even better in person. Be careful to not...,Can't stop won't stop looking at it,1407110400,NaN,NaN
1,5,True,2014-02-12,A269FLZCB4GIPV,7508492919,NaN,sarah ponce,When you don't want to spend a whole lot of ca...,1,1392163200,NaN,NaN
2,3,True,2014-02-08,AB6CHQWHZW4TV,7508492919,NaN,Kai,"so the case came on time, i love the design. I...",Its okay,1391817600,NaN,NaN
3,2,True,2014-02-04,A1M117A53LEI8,7508492919,NaN,Sharon Williams,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...,CASE,1391472000,NaN,NaN
4,4,True,2014-02-03,A272DUT8M88ZS8,7508492919,NaN,Bella Rodriguez,"I liked it because it was cute, but the studs ...",Cute!,1391385600,NaN,NaN

In [17]:
df_2017.to_csv('Cell and Acessories 2017.csv')